# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Dossiers de lancement Minecraft (Tes mondes de test, logs, etc.)
run/
runs/

# Mac
.DS_Store

# Fichiers compilés (Jamais sur Git !)
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs
*.log